html {
  height: 100%;
}

body {
  position: fixed;
  font-family: sans-serif;
  color: #2c3e50;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.notes {
  margin: auto;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}


.note {
  font-size: 90px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-right: 30px;
  padding-left: 10px;
}

.note.active {
  color: #e74c3c;
}

.notes-list {
  overflow: auto;
  overflow: -moz-scrollbars-none;
  white-space: nowrap;
  -ms-overflow-style: none;
  -webkit-mask-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0),
    #fff,
    rgba(255, 255, 255, 0)
  );
}

.notes-list::-webkit-scrollbar {
  display: none;
}

.note-display {
  display: none;
}

.note {
  -webkit-tap-highlight-color: transparent;
}

.note span {
  position: absolute;
  right: 0.25em;
  font-size: 40%;
  font-weight: normal;
}

.note-sharp {
  top: 0.3em;
}

.note-octave {
  bottom: 0.3em;
}

.frequency {
  font-size: 32px;
}

.frequency span {
  font-size: 50%;
  margin-left: 0.25em;
}

.meter {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50%;
  width: 400px;
  height: 33%;
  margin: 0 auto 5vh auto;
}

.meter-pointer {
  width: 2px;
  height: 100%;
  background: #2c3e50;
  transform: rotate(45deg);
  transform-origin: bottom;
  transition: transform 0.5s;
  position: absolute;
  right: 50%;
}

.meter-dot {
  width: 10px;
  height: 10px;
  background: #2c3e50;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  right: 50%;
  margin-right: -4px;
}

.meter-scale {
  width: 1px;
  height: 100%;
  transform-origin: bottom;
  transition: transform 0.2s;
  box-sizing: border-box;
  border-top: 10px solid;
  position: absolute;
  right: 50%;
}

.meter-scale-strong {
  width: 2px;
  border-top-width: 20px;
}

.frequency-bars {
  position: fixed;
  bottom: 0;
}

@media (max-width: 768px) {
  .meter {
    width: 100%;
  }

  .notes {
    width: 100%;
  }
}

.swal-button {
  background: #2c3e50;
}

.a4 {
  position: absolute;
  top: 16px;
  left: 16px;
}

.a4 span {
  color: #e74c3c;
}


body {
  background-image: url(img/light-off.svg);
  background-position: center;
  background-color: black;
}

.note-leds {
  opacity: 0;
  transition: 1s opacity ease-in-out;
  position: absolute;
  top: 50%; left: 50%;
  width: 98px; height: 62px;
  margin-left: -49px;
  margin-top: -49px;
}
.note-leds .led:nth-child(11n){
  margin-right: 0;
}
.scale-leds {
  position: absolute;
  top: 50%; left: 50%;
  width: 242px; height: 27px;
  margin-left: -121px; margin-top: 50px;
  opacity: 0;
  transition: 1s opacity ease-in-out;
}
.scale-leds {
  background-color: rgba(255,255,255,.05);
}
.scale-leds .middle .led {
  opacity: .15;
}
.scale-leds .leds:last-child{
  margin-right: 0;
}
.scale-leds .leds {
  width: 8px; height: 8px;
  margin: 0 1px 1px 0;
  float: left;
}
.scale-leds .led {
  opacity: .05;
}
.led {
  transition: .25s all linear;
  width: 8px; height: 8px;
  margin: 0 1px 1px 0;
  float: left;
  opacity: 0;
}

.led.on,
.leds.on .led {
  background-image: radial-gradient(rgba(255,255,255,.7), rgba(255,255,255,0.00));
  box-shadow: 0 0 6px 0px currentColor;
  opacity: 1;
}

.led.on-25,
.leds.on-25 .led {
  background-image: radial-gradient(rgba(255,255,255,.7), rgba(255,255,255,0.00));
  box-shadow: 0 0 6px 0px currentColor;
  opacity: .25;
}
.led.on-50,
.leds.on-50 .led {
  background-image: radial-gradient(rgba(255,255,255,.7), rgba(255,255,255,0.00));
  box-shadow: 0 0 6px 0px currentColor;
  opacity: .5;
}
.led.on-75,
.leds.on-75 .led {
  background-image: radial-gradient(rgba(255,255,255,.7), rgba(255,255,255,0.00));
  box-shadow: 0 0 6px 0px currentColor;
  opacity: .75;
}

.led.half {
  background-image: radial-gradient(rgba(255,255,255,.7), rgba(255,255,255,0.00));
  opacity: .5;
}
.leds.green .led {
  background-color: #00FF00;
  color: #00FF00;
}

.led.red,
.leds.red .led {
  background-color: #FF0000;
  color: #F00F00;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 74px;
	height: 36px;
	background: black;
	display: block;
	border-radius: 100px;
	position: absolute;
  top: 50%; left: 50%;
  z-index: 1000;
  margin-left: -37px;
  margin-top: -40px;
  border: 2px solid white;
  opacity: 1;
  transition: .5s opacity linear;
}

label:before {
  content: 'Off';
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 0.8rem;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 1;
  transition: .25s opacity linear;
}
label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 26px;
	height: 26px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
  background-image: url(img/microphone.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + label:before {
	opacity: 0;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	/* width: 40px; */
}


body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.mic-enabled .note-leds,
.mic-enabled .scale-leds {
  opacity: 1;
}